SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost 127.0.0.1

ANTI_SPOOF_MODEL_DIR=./resources/anti_spoof_models
DETECTOR_CAFFEMODEL=./resources/detection_model/Widerface-RetinaFace.caffemodel
DETECTOR_PROTOTXT=./resources/detection_model/deploy.prototxt

LIVENESS_DEVICE_ID=0

LIVENESS_THRESHOLD=0.5

LIVENESS_MAX_IMAGE_MB=10

CORS_ALLOWED_ORIGINS=http://localhost:3000
